<h3>Formulaire d'article</h3>

<<<<<<< HEAD
=======
{# On laisse vide la vue pour l'instant, on la comblera plus tard
   lorsqu'on saura afficher un formulaire. #}
>>>>>>> 19dbb4597b2bc3fda234bc3f121204f5d358bc05
<div class="well">
  Ici se trouvera le formulaire.
</div>